@include block('offer') {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    border-radius: 8px;
    @include element('name') {
        margin: 10px 0;
        padding-bottom: 10px;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        border-bottom: 1px solid #000;
    }
    @include element('price') {
        margin: 20px 0;
        text-align: center;
        font-size: 2em;
        font-weight: bold;
    }
    @include element('features') {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    @include element('feature') {
        text-decoration: none;
        padding: 15px;
        font-size: 1.2em;
        background-color: #CCC;
        @include modifier('odd') {
            background-color: #FFF;
        }
        @include modifier('last') {
            border-radius: 0 0 8px 8px;
        }
    }
}
